data/
logs/
.ipynb_checkpoints
__pycache__/
model/__pycache__/
model/__pycache__/data.cpython-310.pyc
.Rproj.user
result/
result_unbanlanced/CV_gene_expression_cnv_methylation_mutation_0.001_2_AUC.csv
result_unbanlanced/fold_0_5_CTRP_fold_model/fingerprint.pb
result_unbanlanced/fold_0_5_CTRP_fold_model/keras_metadata.pb
result_unbanlanced/fold_0_5_CTRP_fold_model/saved_model.pb
result_unbanlanced/fold_0_5_CTRP_fold_model/variables/variables.data-00000-of-00001
result_unbanlanced/fold_0_5_CTRP_fold_model/variables/variables.index
result_unbanlanced/fold_1_5_CTRP_fold_model/fingerprint.pb
result_unbanlanced/fold_1_5_CTRP_fold_model/keras_metadata.pb
result_unbanlanced/fold_1_5_CTRP_fold_model/saved_model.pb
result_unbanlanced/fold_1_5_CTRP_fold_model/variables/variables.data-00000-of-00001
result_unbanlanced/fold_1_5_CTRP_fold_model/variables/variables.index
result_unbanlanced/fold_2_5_CTRP_fold_model/fingerprint.pb
result_unbanlanced/fold_2_5_CTRP_fold_model/keras_metadata.pb
result_unbanlanced/fold_2_5_CTRP_fold_model/saved_model.pb
result_unbanlanced/fold_2_5_CTRP_fold_model/variables/variables.data-00000-of-00001
result_unbanlanced/fold_2_5_CTRP_fold_model/variables/variables.index
result_unbanlanced/fold_3_5_CTRP_fold_model/fingerprint.pb
result_unbanlanced/fold_3_5_CTRP_fold_model/keras_metadata.pb
result_unbanlanced/fold_3_5_CTRP_fold_model/saved_model.pb
result_unbanlanced/fold_3_5_CTRP_fold_model/variables/variables.data-00000-of-00001
result_unbanlanced/fold_3_5_CTRP_fold_model/variables/variables.index
result_unbanlanced/fold_4_5_CTRP_fold_model/fingerprint.pb
result_unbanlanced/fold_4_5_CTRP_fold_model/keras_metadata.pb
result_unbanlanced/fold_4_5_CTRP_fold_model/saved_model.pb
result_unbanlanced/fold_4_5_CTRP_fold_model/variables/variables.data-00000-of-00001
result_unbanlanced/fold_4_5_CTRP_fold_model/variables/variables.index
CTRP_0.01_1-0.1_64_3/fingerprint.pb
CTRP_0.01_1-0.1_64_3/saved_model.pb
CTRP_0.01_1-0.1_64_3/variables/variables.data-00000-of-00001
CTRP_0.01_1-0.1_64_3/variables/variables.index
.gitignore
CTRP_0.01_1-0.1_64_3_cnv/fingerprint.pb
CTRP_0.01_1-0.1_64_3_cnv/saved_model.pb
CTRP_0.01_1-0.1_64_3_cnv/variables/variables.data-00000-of-00001
CTRP_0.01_1-0.1_64_3_cnv/variables/variables.index
CTRP_0.001_3-0.1_64_6/fingerprint.pb
CTRP_0.001_3-0.1_64_6/saved_model.pb
CTRP_0.001_3-0.1_64_6/variables/variables.data-00000-of-00001
CTRP_0.001_3-0.1_64_6/variables/variables.index
CTRP_0.001_64_6/.DS_Store
CTRP_0.001_64_6/fingerprint.pb
CTRP_0.001_64_6/saved_model.pb
CTRP_0.001_64_6/variables/variables.data-00000-of-00001
CTRP_0.001_64_6/variables/variables.index
CTRP_0.01_2-0.1_128_10_all/fingerprint.pb
CTRP_0.01_2-0.1_128_10_all/saved_model.pb
CTRP_0.01_2-0.1_128_10_all/variables/variables.data-00000-of-00001
CTRP_0.01_2-0.1_128_10_all/variables/variables.index
.gitignore
CTRP_0.01_5-0.1_64_10_all_optimized/fingerprint.pb
CTRP_0.01_5-0.1_64_10_all_optimized/saved_model.pb
CTRP_0.01_5-0.1_64_10_all_optimized/variables/variables.data-00000-of-00001
CTRP_0.01_5-0.1_64_10_all_optimized/variables/variables.index
CTRP_0.01_5-0.1_64_15_all/fingerprint.pb
CTRP_0.01_5-0.1_64_15_all/saved_model.pb
CTRP_0.01_5-0.1_64_15_all/variables/variables.data-00000-of-00001
CTRP_0.01_5-0.1_64_15_all/variables/variables.index
.gitignore
CTRP_0.01_5-0.1_64_15_cclblindtest/fingerprint.pb
CTRP_0.01_5-0.1_64_15_cclblindtest/saved_model.pb
CTRP_0.01_5-0.1_64_15_cclblindtest/variables/variables.data-00000-of-00001
CTRP_0.01_5-0.1_64_15_cclblindtest/variables/variables.index
CTRP_0.01_5-0.1_128_10_only-gene_expr/fingerprint.pb
CTRP_0.01_5-0.1_128_10_only-gene_expr/saved_model.pb
CTRP_0.01_5-0.1_128_10_only-gene_expr/variables/variables.data-00000-of-00001
CTRP_0.01_5-0.1_128_10_only-gene_expr/variables/variables.index
