data/
logs/
.ipynb_checkpoints
__pycache__/
model/__pycache__/
model/__pycache__/data.cpython-310.pyc
.Rproj.user
result/
result_unbanlanced/CV_gene_expression_cnv_methylation_mutation_0.001_2_AUC.csv
result_unbanlanced/fold_0_5_CTRP_fold_model/fingerprint.pb
result_unbanlanced/fold_0_5_CTRP_fold_model/keras_metadata.pb
result_unbanlanced/fold_0_5_CTRP_fold_model/saved_model.pb
result_unbanlanced/fold_0_5_CTRP_fold_model/variables/variables.data-00000-of-00001
result_unbanlanced/fold_0_5_CTRP_fold_model/variables/variables.index
result_unbanlanced/fold_1_5_CTRP_fold_model/fingerprint.pb
result_unbanlanced/fold_1_5_CTRP_fold_model/keras_metadata.pb
result_unbanlanced/fold_1_5_CTRP_fold_model/saved_model.pb
result_unbanlanced/fold_1_5_CTRP_fold_model/variables/variables.data-00000-of-00001
result_unbanlanced/fold_1_5_CTRP_fold_model/variables/variables.index
result_unbanlanced/fold_2_5_CTRP_fold_model/fingerprint.pb
result_unbanlanced/fold_2_5_CTRP_fold_model/keras_metadata.pb
result_unbanlanced/fold_2_5_CTRP_fold_model/saved_model.pb
result_unbanlanced/fold_2_5_CTRP_fold_model/variables/variables.data-00000-of-00001
result_unbanlanced/fold_2_5_CTRP_fold_model/variables/variables.index
result_unbanlanced/fold_3_5_CTRP_fold_model/fingerprint.pb
result_unbanlanced/fold_3_5_CTRP_fold_model/keras_metadata.pb
result_unbanlanced/fold_3_5_CTRP_fold_model/saved_model.pb
result_unbanlanced/fold_3_5_CTRP_fold_model/variables/variables.data-00000-of-00001
result_unbanlanced/fold_3_5_CTRP_fold_model/variables/variables.index
result_unbanlanced/fold_4_5_CTRP_fold_model/fingerprint.pb
result_unbanlanced/fold_4_5_CTRP_fold_model/keras_metadata.pb
result_unbanlanced/fold_4_5_CTRP_fold_model/saved_model.pb
result_unbanlanced/fold_4_5_CTRP_fold_model/variables/variables.data-00000-of-00001
result_unbanlanced/fold_4_5_CTRP_fold_model/variables/variables.index
